/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.flexbox {
  display: flex;
}

.justify-center {
  align-items: center;
  justify-content: flex-end;
}

.container {
  width: 1200px;
  padding: 0px 15px 0 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  margin-right: auto;
}

.main-nav__list {
  margin-left: 93px;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.link--current {
  color: #2196f3;
  position: relative;
}

.link--current:after {
  content: '';
  position: absolute;
  background-color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 4px;
  left: 0;
  bottom: -31px;
}

.header-contacts__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
  text-decoration: underline;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__icon {
  display: inline-block;
  margin-right: 10px;
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: #2196f3;
}

.logo {
  text-decoration: none;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  inline-size: 1.2;
}

.btn {
  text-decoration: none;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.social-links__title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-links__item {
  margin-right: 10px;
  flex-basis: calc((100% - 3 * 10px) / 4);
}

.social-links__item:last-child {
  margin-right: 0px;
}

.social-links__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
}

.section__title {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
}

.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%), url(../images/hero-bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 1600px, 1600px;
}

.hero__container {
  text-align: center;
  width: 696px;
}

.hero__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 44px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.btn--hero {
  display: inline-block;
  text-decoration: none;
  padding: 10px 32px;
  margin-top: 30px;
}

.features__image-container {
  width: auto;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features__title {
  color: #212121;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.features__text {
  font-weight: 400;
  margin-top: 10px;
  line-height: 1.71;
}

.features__grid {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.features__grid:nth-child(4n) {
  margin-right: 0px;
}

.our-work__section {
  padding-top: 0px;
  padding-bottom: 94px;
  text-align: center;
}

.our-work__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

.our-work__item {
  display: flex;
  position: relative;
  margin-right: 30px;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.our-work__item:nth-child(3n) {
  margin-right: 0px;
}

.our-work__overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-grid {
  margin-top: 50px;
}

.team-grid__item {
  margin-right: 30px;
  flex-basis: calc((100% - 4 * 30px) / 3);
}

.team-grid__item:nth-child(4n) {
  margin-right: 0px;
}

.team-grid__card {
  padding-bottom: 30px;
  width: 270px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-grid__name {
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
}

.team-grid__position {
  margin-top: 10px;
  font-weight: 400;
}

.team__social-container {
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 30px;
}

.team__link {
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}

.team__link--icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  fill: #afb1b8;
}

.team__link:hover .team__link--icon,
.team__link:focus .team__link--icon {
  fill: #ffffff;
}

.custumers-container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.custumers-grid {
  margin-top: 50px;
}

.custumers-grid__item {
  flex-basis: calc((100% - 5 * 30px) / 6);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.custumers-grid__item:last-child {
  margin-right: 0;
}

.custumers-grid__item:hover, .custumers-grid__item:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.custumers-grid__icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  fill: #afb1b8;
}

.custumers-grid__item:hover .custumers-grid__icon,
.custumers-grid__item:focus .custumers-grid__icon {
  border-color: #2196f3;
  fill: #2196f3;
}

.custumers-grid__link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 90px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  display: none;
}

.modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  width: 528px;
  height: 581px;
  background: #ffffff;
  padding: 40px;
  z-index: 101;
  animation: backIn 2s linear 0s 1;
  text-align: center;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  margin-bottom: 12px;
}

@keyframes backIn {
  0% {
    transform: scale(0.1);
    transform: translate(0, -1200px);
    opacity: 0.7;
  }
  70% {
    transform: scale(0.7);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    transform: translate(0);
    opacity: 1;
  }
}

.modal-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  border-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: 0;
  top: 8px;
  right: 8px;
}

.modal-btn__icon {
  width: 11px;
  height: 11px;
}

.modal-btn:hover .modal-btn__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-feedback {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.form-field__title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}

.form-field__input {
  display: block;
  position: relative;
  padding: 12px 35px;
  width: 100%;
  font-size: 13px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  outline-color: #2196f3;
  fill: #2196f3;
}

.form-field__icon {
  position: absolute;
  left: 3%;
  top: 55%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  outline-color: #2196f3;
  fill: #2196f3;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  outline-color: #2196f3;
}

.checkbox {
  position: relative;
  margin-right: 12px;
  text-align: right;
}

.checkbox__checked {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  left: 13px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  user-select: none;
}

.checkbox__input:checked + .checkbox__checked {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/checkbox-sign.svg);
  background-position: center;
}

.submit--btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
}

.our-work {
  text-align: center;
  margin-top: 94px;
}

.btn--portfolio {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  box-shadow: none;
  line-height: 1.62;
}

.btn--portfolio:hover, .btn--portfolio:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.our-work-container {
  margin-top: 34px;
  margin-bottom: 94px;
}

.card-grid {
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: calc((100% - 8 * 30px) / 9);
}

.card-grid__item {
  padding-right: 30px;
  padding-bottom: 30px;
}

.card-grid__item:nth-child(3n) {
  padding-right: 0px;
}

.card-grid__container {
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  z-index: 5;
}

.card-grid__container:hover, .card-grid__container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-grid__img-overlay {
  display: flex;
  padding: 63px 24px;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  z-index: 1;
}

.card-grid__container:hover .card-grid__img-overlay,
.card-grid__container:focus .card-grid__img-overlay {
  transform: translateY(0);
  transition-delay: 100ms;
}

.card-grid__wrapper {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 110px;
  background-color: #ffffff;
  z-index: 3;
}

.card-tag {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: none;
  position: relative;
  z-index: 4;
}

.card-tag__title {
  text-align: left;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-tag__text {
  text-align: left;
  margin-top: 4px;
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.accent {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--logo {
  color: #ffffff;
}

.adress-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.address {
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  margin-top: 20px;
}

.address__text {
  display: block;
}

.address__item {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.address__item:hover, .address__item:focus {
  color: #2196f3;
  text-decoration: underline;
}

.subscribe {
  margin-left: 50px;
}

.subscribe__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 15px;
}

.subscribe-form {
  position: relative;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:focus {
  border-color: #ffffff;
}

.subscribe-form__btn {
  display: flex;
  align-items: center;
  border-style: none;
  cursor: pointer;
  text-align: left;
  margin-left: 12px;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe-form__btn--icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */