.accent {
  color: $main-accent;
}

.footer {
  background-color: $secondary-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  &--logo {
    color: $pure-white-color;
  }
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.adress-container {
  color: $pure-white-color;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 70px;
    width: 50%;
  }
}

.address {
  font-weight: 400;
  font-style: normal;
  color: $pure-white-color;
  margin-top: 20px;

  &__text {
    display: block;
  }

  &__item {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: $footer-text-color;
    margin-top: 9px;

    &:hover,
    &:focus {
      color: $main-accent;
      text-decoration: underline;
    }
  }
}

.subscribe {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 450px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $pure-white-color;

    @media screen and (min-width: 1200px) {
      margin-top: 5px;
    }
  }
}

.subscribe-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media screen and (min-width: 768) and (max-width: 1199px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 15px;
    display: flex;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    background-color: transparent;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    color: $pure-white-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      min-width: 358px;
      width: 100%;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      border-color: $pure-white-color;
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-style: none;
    cursor: pointer;
    text-align: left;
    padding: 10px 29px;
    width: 200px;
    height: 50px;
    background: $main-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $pure-white-color;

    @media screen and (min-width: 1200px) {
      margin-left: 12px;
      margin-top: 0;
    }

    &--icon {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
}
