h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.flexbox {
  display: flex;
}

.justify-center {
  align-items: center;
  justify-content: flex-end;
}

.container {
  width: 1200px;
  padding: 0px 15px 0 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}
